# PORT=3001
# NODE_ENV=development

# DATABASE_URL=postgresql://neondb_owner:npg_7tLskZY6rjhN@ep-green-truth-azfp48bf-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# CLERK_PUBLISHABLE_KEY=pk_test_dHJ1c3RpbmctbW9uYXJjaC0yMDEwLmNsZXJrLmFjY291bnRzLmRldiQ
# CLERK_SECRET_KEY=sk_test_92sWGg0dgVqxLi0WitCFaeMBpk6HnEAOzCIW5gwe7Q

# SENTRY_DSN=https://c0c800d71dd15f8333a87bda603bba44@o4511955523993600.ingest.us.sentry.io/4511955560103936

# STREAM_API_KEY=z8qeytuybhtm
# STREAM_API_SECRET=8x9xev4h4hx84panrb4ger5h9dbe4xtce4qd5t9mpyaqzsg8w9gaestk7gr8ne9x

# IMAGEKIT_PUBLIC_KEY=public_mjeb7DzxfZhZG69zAp5xDq98iwA=
# IMAGEKIT_PRIVATE_KEY=private_8Y6Esdm7MLkCtVP8FshGzgk2Hkg=
# IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/ecbkxo6pa

PORT=3001
NODE_ENV=development

DATABASE_URL=postgresql://YOUR_DB_USER:YOUR_DB_PASSWORD@YOUR_DB_HOST/YOUR_DB_NAME?sslmode=require

CLERK_PUBLISHABLE_KEY=pk_test_YOUR_PUBLISHABLE_KEY
CLERK_SECRET_KEY=sk_test_YOUR_SECRET_KEY

SENTRY_DSN=https://YOUR_KEY@YOUR_ORG.ingest.YOUR_REGION.sentry.io/YOUR_PROJECT_ID

STREAM_API_KEY=your_stream_api_key
STREAM_API_SECRET=your_stream_api_secret

IMAGEKIT_PUBLIC_KEY=public_YOUR_PUBLIC_KEY
IMAGEKIT_PRIVATE_KEY=private_YOUR_PRIVATE_KEY
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_imagekit_id